Компанията е подготвила списък с функционалности, които са типични за такъв тип платформи:

Създаване на нов потребител; ДА
Потребителя има възможност да използва канал; ДА
Потребителя може да добавя, други потребители към канала от списък с потребители; ДА
Потребителя може да Изпраща съобщения на всеки еди от потребителите; ДА
Потребителя може да изпраща съобщения към канал, като всички потребители в кана имат възможност да виждат тези съобщения; ДА
Потребителя може да добавя други потребители към своята приятелска листа. ДА

Права

потребителите създали канал се явяват условно СОБСТВЕНИЦИ на този канал. Те са единствените, които могат да добавят други потребители, да променят името на канала, както и да го изтриват. ДА
добавените към канала потребители имат по подразбиране право да пишат в канала ДА
СОБСТВЕНИКА на канала може да, предостави роля АДМИНИСТРАТОР на всеки един от членовете на канала НЕ
АДМИНИСТРАТОРИТЕ на канала могат да добавят, други потребители в канала, както и да променят името му. ДА

Изисквания към проекта:
Проектът трябва да бъде разработен с помощта на Spring Boot и да използва неговите вградени компоненти за обработка на REST API. ДА
Използвайте база данни, за съхранение на данните, получени от приложението - като информацията за SQL трябва да е представена под формата на миграции. ??
Системата трябва да предостави визуална част, като подбора на работна рамка или библиотека, оставяме изцяло на вашето въображение. ДА
Обработката на грешки трябва да връща смислени съобщения и HTTP статус кодове (напр. 400 Лоша заявка, 404 Не е намерено). ДА
Изтриването на данните, трябва да се случва "МЕКО" ДА
Предоставете export на postman тестове НЕ
Кода на проекта, трябва да е предаден като линк към GIT система, без значение дали това е GitHub или GitLab ДА

Тестове на API

Потребител
Потребител може да търси сред всички регистрирани в системата потребители ДА
Потребител може да добави друг потребител ДА
Потребител може да създаде канал ДА
Потребител може да изтрие СОБСТВЕНИЯ си канал ДА
Потребител може да премахне ГОСТ потребител от СОБСТВЕНИЯ си канал ДА
Потребителя може да види във всеки един момент всички канали в които членува, както и всички приятели, които е добавил ДА
Потребители

Потребител може да изпрати съобщение на свои ПРИЯТЕЛ ДА
Потребител може да пише в произволен канал, в който членува ДА
Потребител може да чете кореспонденцията, със свой приятел ДА
Потребител може да чете кореспонденцията, в произволен канал, в който членува ДА
Права

потребител с роля СОБСТВЕНИК на канал може да изтрива канал ДА
потребител с роля СОБСТВЕНИК на канал може да дава роля АДМИН на друг потребител НЕ
потребител с роля ГОСТ на канал НЕ може да изтрива канал ДА
потребител с роля ГОСТ на канал НЕ може да променя името на канал ДА
потребител с роля АДМИН на канал може да добавя нови потребители ДА